@import '../fonts/spezia/spezia.css';
@import 'fontsource-roboto/index.css';

html {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Spezia, Roboto, sans-serif;
}

div.nuxt-progress {
  background: linear-gradient(to right, #7fc6f4, #d5279b);
}

.badge {
  @apply font-semibold;
  @apply px-3;
  @apply rounded-full;
  @apply text-sm;
  @apply bg-grey-light;
  @apply text-grey-darker;
}

.badge--small {
  @apply px-2;
  @apply text-xs;
}

.badge--large {
  @apply px-4;
  @apply text-base;
}

.badge--purple {
  @apply bg-purple-lighter;
  @apply text-purple-dark;
}

.button {
  @apply font-semibold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
  @apply bg-grey-light;
  @apply text-black;
  @apply inline-flex;
  @apply items-center;
  @apply text-sm;
}

select.button {
  @apply pr-10;
  @apply appearance-none;
  @apply outline-none;
}

.button--pill {
  @apply rounded-full;
}

.button--small {
  @apply text-xs;
}

.button--primary {
  @apply bg-black;
  @apply text-white;
}

.button--twitter {
  @apply text-black;
}

.button--twitter svg {
  @apply text-brand-twitter;
}

.button--slack {
  @apply bg-brand-slack;
  @apply text-white;
}

.button--twitch {
  @apply bg-brand-twitch-bg;
  @apply text-white;
}

.button--twitch svg {
  @apply text-brand-twitch;
}

hr.button-spacer {
  @apply inline-block;
  @apply border-r;
  @apply w-px;
  @apply h-6;
  @apply mt-1;
}